header.profile {
    margin: 60px auto 60px auto !important;
}
img.avatar {
    display: none !important;
}

#list-page {
    max-width: 780px!important;
}

/* div.content h1 {
    text-decoration: underline
} */